
aFibClassific-physionet-2017/davood-fattahi/scikit-feature-master.zip
aFibClassific-physionet-2017/davood-fattahi/temp_getDataDerivenFeatures.mat
aFibClassific-physionet-2017/davood-fattahi/temp_getModelBasedFeatures.mat
aFibClassific-physionet-2017/davood-fattahi/tempGetEcgBeats.mat
aFibClassific-physionet-2017/sources/**
aFibClassific-physionet-2017/python-dummy-entry.zip
aFibClassific-physionet-2017/sample2017.zip
aFibClassific-physionet-2017/training2017.zip
aFibClassific-physionet-2017/davood-fattahi/segmentedBeats/**
aFibClassific-physionet-2017/davood-fattahi/SemiGenericFeatures_meanBeat.csv
aFibClassific-physionet-2017/davood-fattahi/DataDerivenFeatures.pkl
aFibClassific-physionet-2017/davood-fattahi/GenericFeatures.pkl
aFibClassific-physionet-2017/davood-fattahi/ModelBasedFeatures.pkl
aFibClassific-physionet-2017/davood-fattahi/SemiGenericFeatures_meanBeat.pkl
aFibClassific-physionet-2017/davood-fattahi/DataDerivenFeatures.csv
aFibClassific-physionet-2017/davood-fattahi/GenericFeatures.csv
aFibClassific-physionet-2017/davood-fattahi/ModelBasedFeatures.csv
aFibClassific-physionet-2017/davood-fattahi/REFERENCE-v3.csv

*.pyc

